@import url('https://api.fontshare.com/css?f[]=satoshi@500,700,900');
@import url('https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.min.css');

html,
body {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 500;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-weight: 900;
    margin: 1rem;
}

/* Align */

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Container */

.container {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

/* Links */

a {
    text-decoration: none;
    color: inherit;
}

.crumbs {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 15px;
}

.crumbs span b {
    text-decoration: underline;
    cursor: pointer;
}

.crumbs span:after {
    margin: 0 0.5rem;
    content: "/";
}

/* Files & Folders list */

.item {
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item::before {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    content: "";
    display: inline-block;
    margin-right: 1rem;
    background-image: url('folder.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item.file::before {
    background-image: url('file.svg');
    transform: scale(0.9);
}