@import url('https://unpkg.com/carbon-components-svelte/css/g10.css');

* {
    user-select: none !important;
}

.bx--content {
    min-height: 100vh;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.list .bx--tile {
    text-transform: capitalize;
    min-height: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375;
    display: flex;
    align-items: center;
    /* border: 1px solid #c7c7c8; */
}

.bx--tile svg {
    margin-right: 1rem;
}