@import url('https://api.fontshare.com/css?f[]=satoshi@500,700,900');
@import url('https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.min.css');

html,
body {
    font-family: 'Satoshi', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 500;
    background: #efefef;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-weight: 900;
    margin: 1rem;
}

/* Align */

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Container */

.container {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

/* Links */

a {
    text-decoration: none;
    color: inherit;
}

.crumbs {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 15px;
}

.crumbs span b {
    text-decoration: underline;
    cursor: pointer;
}

.crumbs span:after {
    margin: 0 0.5rem;
    content: "/";
}

/* Files & Folders list */

.item {
    text-transform: capitalize;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
    padding: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.item::before {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    content: "";
    display: inline-block;
    margin-right: 1rem;
    background-image: url('folder.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item.file::before {
    background-image: url('file.svg');
    transform: scale(0.9);
}